.work {
    height: auto;
    width: 100vw;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    background-color: #03050D;
    font-family: Roboto,sans-serif;
    cursor:default;
}   
.header {
    color: #727272;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header2 {
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.timelineElementIcon{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;    
    border-radius: 50%;
}
.timelineElementIcon:hover{
    cursor: pointer;
}

.timelineElementContent{
    color: #FFF;
}

.timelineElementContent h1{
    color: #FFF;
    font-size: 1.5rem;
}
.timelineElementContent h2{
    color: #8D5EFC;
    font-size: 1.5rem;
}
.timelineElementContent h2:hover{
    cursor: pointer;
}
.timelineElementContentList{
    padding: 1rem;
    color: whitesmoke;
}
.timelineElementDate{
    color: #FFF;
}
@media (max-width: 480px) {
    .work{
        padding-top: 10vh;
    }
    .timelineElementContent h1{
        color: #FFF;
        font-size: 1.2rem;
    }
    .timelineElementContent h2{
        color: #8D5EFC;
        font-size: 1.2rem;
    }
    .timelineElementContent li{
        font-size: 0.8rem;
    }
    .timelineContainer{
        margin-top: 3vh;
    }
}