.Overview {
    height: auto;
    width: 100vw;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    background-color: #03050D;
    cursor:default;
}   

.header {
    color: #727272;
    font-family: Roboto,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header2 {
    color: #FFF;
    font-family: Roboto,sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}
.description{
    width: 60vw;
    margin-top: 20px;
    color: #727272;
    text-align: justify;
    font-family: Roboto,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
}

.cardholder{
    display: flex;
    justify-content:space-evenly;
    width: 80vw;
    perspective: 1000px;
}
@media (max-width: 1180px) {
    .description{
        width: 80vw;
    }
    .cardholder{
        margin-top: 5%;
    }
}
@media (max-width: 480px) {
    .description{
        width: 80vw;
    }
    .cardholder{
        display: flex;
        flex-wrap: wrap;
        gap: 8vw;
        justify-content: center;
    }
}
