.card{
    width: 15vw;
    height: 35vh;
    background-color: #2D1F54;
    border: white solid 1px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 100px 40px rgba(255, 255, 255, 0.10);
    margin-top: 6vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-property: width,height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.card:hover{
    width: 16vw;
    height: 36vh;
}
.titleText{
    width: 100%;
    color: #FFFFFF;
    font-family: Roboto Mono, sans-serif;
    font-size: 1.2rem;
    font-style:normal;
    font-weight: bolder;
    line-height: normal;
}
.image{
    width: 50%;
    height: 50%;
    align-self: center;
}
@media (max-width: 1180px) {
    .card{
        width: 15vw;
        height: 25vh;
        margin: 1%;
        box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.10);
    }
    .card:hover{
        width: 16vw;
        height: 26vh;
    }
    .titleText{
        font-size: 1.5rem;
    }
}
@media (max-width: 820px) {
    .card{
        width: 16vw;
        height: 14vh;
        margin: 1%;
        box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.10);
    }
    .card:hover{
        width: 17vw;
        height: 15vh;
    }
    .titleText{
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .card{
        width: 35vw;
        height: 19vh;
        margin: 0px;
        box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.10);
    }
    .card:hover{
        width: 37vw;
        height: 19vh;
    }
    .titleText{
        font-size: 1rem;
    }
}
