.card{
    width: 15vw;
    height: 35vh;
    background-color: #2D1F54;
    border: white solid 1px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 100px 40px rgba(255, 255, 255, 0.10);
    margin-top: 6vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-property: width,height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.titleText{
    width: 100%;
    color: #FFFFFF;
    font-family: Roboto Mono, sans-serif;
    font-size: 1.2rem;
    font-style:normal;
    font-weight: bolder;
    line-height: normal;
}
.image{
    width: 50%;
    height: 50%;
    align-self: center;
}
.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.listElement{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-bottom:10px;
}
.listImage{
    width: 30%;
    height: 100%;
}
.listLabel{
    width: 50%;
}
@media (max-width: 1180px) {
    .card{
        width: 15vw;
        height: 25vh;
        margin: 1%;
        box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.10);
    }
    .titleText{
        font-size: 1.5rem;
    }
}
@media (max-width: 820px) {
    .card{
        width: 16vw;
        height: 14vh;
        margin: 1%;
        box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.10);
    }
    .titleText{
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .card{
        width: 35vw;
        height: 19vh;
        margin: 0px;
        box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.10);
    }
    .titleText{
        font-size: 1rem;
    }
    .list{
        padding: 0px;
        margin-left: -20px;
        align-content: center;
    }
    .listImage{
        width: 25%;
        height: 100%;
    }
    .listLabel{
        width: 50%;
        font-size: small;
        font-weight: bold;
    }
}
